.about {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.about-photo {
  width: 35%;
  height: 100%;
  padding: 30px;
}

.text-here {
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #444;
  padding: 10px;
}

.text-here h1 {
  font-size: 30px;
  font-weight: 200;
}
.text-here a {
  text-decoration: none;
  color: #999;
}
.text-here a:hover {
  color: #444;
}

@media only screen and (max-width: 640px) {
  .about {
    display: block;
  }
  .about-photo {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}
