.training {
  max-width: 1000px;
  margin: 0 auto;
}
.intro {
  margin: 80px auto;
  text-align: center;
  max-width: 800px;
  padding: 0 50px;
  line-height: 1.5em;
  font-weight: 200;
}
.intro h3 {
  font-size: 30px;
  font-weight: 200;
}
.training-info {
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 200;
  line-height: 1.2em;
}
.training-info img {
  width: 40%;
  height: 300px;
  object-fit: contain;
}
.training-info.left {
  flex-wrap: wrap-reverse;
}
.training-info.right {
  flex-wrap: wrap;
}
.training-info h1 {
  margin-bottom: 40px;
}
.training-text {
  width: 50%;
  padding: 30px;
}
.register-button {
  margin: 40px auto;
  display: block;
  text-align: center;
  width: 170px;
  background-color: white;
  border: 2px purple solid;
  font-size: 20px;
  padding: 1em 0;
  border-radius: 5px;
  color: purple;
  font-weight: 600;
  text-decoration: none;
  transition: all 500ms;
}
.register-button:hover {
  background-color: purple;
  color: white;
}
@media only screen and (max-width: 660px) {
  .training-info img {
    width: 100%;
    height: 60vw;
    margin: 20px auto;
    object-fit: scale-down;
  }
  .training-text {
    text-align: center;
    width: 100%;
    padding: 0 20px;
  }
}
