.home {
  height: 100%;
}
.headline {
  width: 50%;
  margin: 60px auto;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 1.5;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
  font-weight: 400;
  text-align: justify;
  line-height: 1.4;
}
.cards img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  margin: 20px 0;
}

.cards h2 {
  font-weight: 400;
  text-align: center;
}

.nosework {
  max-width: 300px;
  padding: 10px;
}
.obedience {
  max-width: 300px;
  padding: 10px;
}
.puppy {
  max-width: 300px;
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .headline {
    width: 90%;
  }
}
