.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  margin: 70px 0 0 0;
  background-color: #eee;
  font-weight: 600;
  border-top: 1px solid #662d91;
}

.footer-contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-contact a {
  margin: 16px;
}

.footer-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.footer-images img {
  height: 100px;
  margin: 0 20px;
}
