.header {
  display: flex;
  max-width: 1024px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 14px;
  /* margin: 10px 20px; */
  margin: 10px auto;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
}

li {
  padding: 5px;
  text-align: center;
}

li a {
  color: #999;
  text-decoration: none;
}

.logo {
  height: 100px;
}

.active {
  background-color: #662D91;
  border-radius: 5px;
  transition: background-color 1s;
}
.active a {
  color: white;
  transition: color 2s;
}

.not-active a:hover {
  color: black;
}

@media only screen and (max-width: 666px) {
  nav {
    visibility: hidden;
    overflow: hidden;
  }
}
